.b-center {
  text-align: center;
}
.c-padding {
  padding: 25px;
}
.c-margin {
  margin-top: 75px;
}
body {
  background-color: #fafafa;
}
td {
  margin: 0 !important;
  padding: 10px !important;
}
.s-margin {
  padding-left: 20px;
}